name: .NET Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  solutionPath: "src/ShoppingCart.sln"
  apiKey: "odt_4IsmsIxm_yusTBdGzl3vXbexMEAlNmNPoQGBxS7gi"

jobs:
  inspect-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Annotate
        uses: JetBrains/ReSharper-InspectCode@v0.11
        with:
          solution: ${{ env.solutionPath }}
    
    permissions:
      security-events: write
  
  build:
    runs-on: ubuntu-latest
    steps:  
      # Checkout source
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # needed for git versioning

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: '6.4.x'
          
      - name: Determine Version
        id: version_step # step id used as a reference for output values
        uses: gittools/actions/gitversion/execute@v4.2.0
        with:
          updateProjectFiles: true    

      # Install .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x" # or 7.0.x / 6.0.x etc.

      # Restore packages
      - name: Restore dependencies
        run: dotnet restore ${{ env.solutionPath }}

      - name: Build
        run: dotnet build ${{ env.solutionPath }} --configuration Release --no-restore
        
      # Tests
      - name: Test with the dotnet CLI
        run: dotnet test ${{ env.solutionPath }} --no-build 
       
      # SBOM
      - name: Generate JSON SBOM
        uses: CycloneDX/gh-dotnet-generate-sbom@master
        with:
          path: ${{ env.solutionPath }}
      
      - name: Sending SBOM to Server
        uses: DependencyTrack/gh-upload-sbom@v3
        with:
          serverHostname: 'http://4.180.58.159:8080'
          apiKey: ${{ env.apiKey }}
          projectName: 'BestTeam'
          projectVersion: 'master'
          bomFilename: "/bom.xml"
          autoCreate: true